.footer {
    bottom: 0;
    padding: 20px;
    margin-top: auto;
    flex-shrink: 0;
}


.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo1, .logo2 {
    width: auto;
    height: 30px; /* Adjust this to the desired size */
}

.footer-text {
    font-family: area-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
    max-width: 80%;
}
  
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
  
    .logos {
        flex-direction: row;
        gap: 20px;
    }
  
    .logo1, .logo2 {
        max-width: initial;
        height: 40px; /* Adjust this to the desired size */
    }

    .footer-text {
        font-size: 0.9em;
        max-width: 40%;
    }
}
