.footer {
    background-color: hwb(0 100% 0%);
    /* Change to your preferred background color */
    padding: 20px;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo1,
.logo2 {
    width: auto;
}

.logo1 {
    height: 50px; 
  }
  
  .logo2 {
    height: 50px; 
  }

.footer-text {
    font-size: 14px;
}