.responsiveImage {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'swear-display-cilati', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.page-content {
  margin-top: 20px; /* Adjust the value to increase or decrease the spacing */
}

.header {
  margin-bottom: 50px; /* Adjust the value to increase or decrease the spacing */
}

.text-container {
  max-width: 700px; /* Adjust the width as needed */
  margin: 0 auto;
  padding: 0 20px;
  word-wrap: break-word;
  text-align: justify;

}

.title
{
  text-align: center;
}

.artworktitle {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-item {
    margin: 5px 0;
  }
}


.image-container img {
  width: 51%;
  height: auto;
  margin-bottom: 40px;
}